html {
  font-size: 62.5%;
}

body {
  font-family: "Chivo", sans-serif;
  background-color: #121725;
  background-image: url(assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
header {
  background-image: url(./assets/desktop/logo.svg);
  margin: 0 auto;
  margin-top: 6.2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 14.8rem;
  height: 6.2rem;
}

.content {
  margin-top: 5.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #54e6af;
}

h1 span {
  color: #ffffff;
}

.content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #c2cbe5;
  width: 35ch;
  padding: 1.6rem;
}
.supporters {
  display: flex;
  gap: 2rem;
}
.spotify {
  background-image: url(assets/desktop/spotify.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 5.6rem;
  height: 1.7rem;
}
.apple {
  background-image: url(assets/desktop/apple-podcast.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.5rem;
  height: 1.7rem;
}
.google {
  background-image: url(assets/desktop/google-podcasts.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 12.5rem;
  height: 1.7rem; */
  padding: 4rem;
}

.packet {
  background-image: url(assets/desktop/pocket-casts.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 12.5rem;
  height: 2.5rem; */
  padding: 4rem;
}

.input {
  background: #2c344b;
  border-radius: 28px;
  width: 32.7rem;
  height: 4.6rem;
  position: relative;
}

h2 {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding: 1rem;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  border-radius: 28px;
  padding: 0 1rem;
  outline: none;
}

#error {
  display: none;
  color: red;
  position: absolute;
  top: 3rem;
}

.request {
  position: absolute;
  top: 6rem;
  right: 0;
  border: none;
  border-radius: 28px;
  width: 32.7rem;
  height: 4.6rem;
  background: #54e6af;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  margin-top: 1.6rem;
}

.request button {
  color: #121725;
  font-size: 1.4rem;
  line-height: 2.8rem;
  background-color: #54e6af;
  border: none;
  display: flex;
  justify-content: center;
}

@media (min-width: 48rem) {
  body {
    background-color: black;
  }

  header {
    margin: 4rem;
  }

  .imgDiv {
    background-image: url(assets/tablet/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 49.1rem;
    height: 76.7rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .content {
    z-index: 2;
    position: relative;
    width: 63.5rem;
    height: 50.9rem;
    background-color: black;
    top: 10rem;
    right: -3rem;
    display: flex;
    align-items: start;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-align: start;
  }
  .content p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: start;
    width: 45ch;
    padding: 0;
    margin-top: 3rem;
  }

  #email-input {
    background: #2c344b;
    border: none;
    color: white;
  }
  #email-input::placeholder {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .supporters {
    order: 5;
    display: flex;
    align-items: end;
  }

  .spotify {
    width: 9.6rem;
    height: 3rem;
  }
  .apple {
    width: 7.8rem;
    height: 2.9rem;
  }
  .google {
    padding: 8rem;
    background-position: bottom;
  }
  .packet {
    padding: 6rem;
    background-position: bottom;
  }

  .points {
    background-image: url(assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 23.2rem;
    height: 10.4rem;
    position: absolute;
    bottom: 0;
    left: 4rem;
  }
  .input {
    width: 42rem;
    height: 5.6rem;
  }

  .input button {
    width: 16.2rem;
    height: 4.6rem;
    top: -1rem;
    left: 25.2rem;
  }
}
@media (min-width: 90rem) {
  header {
    position: relative;
    left: 14rem;
    top: 10rem;
  }
  .imgDiv {
    background-image: url(assets/desktop/image-host.jpg);
    width: 96rem;
    height: 64rem;
    top: auto;
  }
  .content {
    width: 72.3rem;
    top: 13rem;
    right: -18rem;
  }
  h1 {
    font-size: 5.2rem;
    line-height: 6.2rem;
  }
  .points {
    bottom: 137px;
    right: 4rem;
    left: auto;
  }
}
